<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>$(MBXAccessToken)</string>
	<key>OSMWeatherAPI_Key</key>
	<string>$(OSMWeatherAPI_Key)</string>
	<key>MapStyleURI</key>
	<string>mapbox://styles/bradleypregon/clpvnz3y900yn01qmby0f9xn6</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app uses the local network to find and connect to FS2FF</string>
</dict>
</plist>
